<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travelpal</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holderHeadline">
            Travelpal | plan your trip
        </div>
        <div class="holder zip">
            <label for="UserCity">Enter Your Destination here</label>
            <input type="text" id="UserCity" placeholder="enter your city here">
        </div>
        <div class="holderFeel">
            <label for="DepartDate">When would you like to leave?</label>
            <input type="date" id="DepartDate" placeholder="Enter your date here">
            <!-- <textarea class="myInput" id="feelings" placeholder="Enter your date here" rows="9" cols="50"></textarea> -->
            <button id="generate" type="submit"> Submit </button>
        </div>
        <div class="holder entry">
            <div class="title">Your Trip Summary</div>
            <div id="entryHolder">
                <div class="distImg">
                    <div id="distinationImg"></div>
                </div>
                <div class="TripText">
                    <div id="UserCityName"></div>
                    <div id="UserDepartDate"></div>
                    <div id="dayLeft"></div>
                    <div id="temp"></div>
                    <div id="summary"></div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>