<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travelpal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holderHeadline">
            Travelpal Planner
        </div>
        <!-- <form action="/" method="GET"> -->
        <div class="formContainer">
            <div class="Cityinput">
                <label for=" UserCity ">Enter Your Destination here</label>
                <input type="text" id="UserCity" placeholder="enter your city here" required>
            </div>
            <div class="startDate">
                <label for="DepartDate ">When would you like to leave?</label>
                <input type="date" id="DepartDate" placeholder="enter your Startdate here" required>
            </div>
            <div class="endDate">
                <label for="EndDate ">When would you like to come back?</label>
                <input type="date" id="EndDate" placeholder="enter your Enddate here" required>
            </div>
            <div class="button">
                <button id="generate" type="submit"> Submit </button>
                <!-- <button id="resetData" type="reset"> Reset </button> -->
            </div>
        </div>
        <!-- </form> -->

        <div class="tripSummary">
            <div class="title">Your Trip Summary</div>
            <div id="entryHolder">
                <div class="distImg">
                    <div id="distinationImg"></div>
                </div>
                <div class="TripText">
                    <div id="UserCityName"></div>
                    <div id="UserDepartDate"></div>
                    <div id="UserBackDate"></div>
                    <div id="dayLeft"></div>
                    <div id="temp"></div>
                    <div id="summary"></div>
                </div>

            </div>
        </div>
    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>